<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Sirve los archivos estáticos -->
    <staticContent>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <!-- Redirige todas las solicitudes a index.html -->
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- No reescribir si el archivo o directorio existe -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <!-- Si tienes rutas de API, exclúyelas aquí -->
            <!-- <add input="{REQUEST_URI}" pattern="^/api" negate="true" /> -->
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
