<div class="container">
  <div class="modal fade" id="staticBackdrop" tabindex="-1" data-bs-backdrop="static" #staticBackdrop
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form (ngSubmit)="isEditing ? actualizarEntidad() : crearEntidad()" ngNativeValidate>
          <div class="modal-header justify-content-between bg-primary">
            <h5 class="modal-title text-white dark__text-gray-1100" id="staticBackdropLabel">Gestión de Usuarios</h5>
            <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close" id="btnclosemodal"><span
                class="fas fa-times fs-9 text-white dark__text-gray-1100"></span></button>
          </div>
          <div class="modal-body">
            <div class="row g-3">
              <div class="mb-3 text-start">
                <div *ngIf="mensajesError.length > 0" class="alert alert-danger fs-9 " role="alert">
                  <li *ngFor="let error of mensajesError">
                    <span>{{ error }}</span>
                  </li>
                </div>
              </div>
              <div class="col-md-4">
                <label for="mombre">Usuario:</label>
                <input type="text" class="form-control" id="mombre" [(ngModel)]="entidadSeleccionada.username"
                  name="mombre" required>
              </div>
              <div class="col-md-4">
                <label for="descripcion">Contraseña:</label>
                <input type="password" class="form-control" id="descripcion" [(ngModel)]="entidadSeleccionada.password"
                  name="descripcion" required
                  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" #passwordInput="ngModel">
                <div *ngIf="passwordInput.invalid && passwordInput.dirty">
                  <small class="text-danger" *ngIf="passwordInput.errors?.['required']">La contraseña es
                    obligatoria.</small>
                  <small class="text-danger" *ngIf="passwordInput.errors?.['pattern']">
                    La contraseña debe tener al menos 8 caracteres, incluyendo una letra mayúscula, una minúscula, un
                    número y un carácter especial.
                  </small>
                </div>
              </div>
              <div class="col-md-4">
                <label for="idTipoUsuario">Tipo Usuario:</label>
                <select id="idTipoUsuario" class="form-select" [(ngModel)]="entidadSeleccionada.idTipoUsuario"
                  (change)="entidadSeleccionada.idEstudiante = 0;entidadSeleccionada.idProfesor = 0"
                  name="idTipoUsuario" required>
                  <option *ngFor="let entidad of tiposusuario" [value]="entidad.id">
                    {{ entidad.nombre }}
                  </option>
                </select>
              </div>
              <div class="col-md-4" *ngIf="entidadSeleccionada.idTipoUsuario == 3">
                <label for="idEstudiante">Estudiante:</label>
                <!--<select id="idEstudiante" class="form-select" [(ngModel)]="entidadSeleccionada.idEstudiante"
                  name="idEstudiante" [required]="entidadSeleccionada.idTipoUsuario == 3">
                  <option *ngFor="let entidad of estudiantes" [value]="entidad.id">
                    {{ entidad.nombres }}
                  </option>
                </select>-->
                <input name="estudiante" id="estudiante" type="text" class="form-control col"
                  [(ngModel)]="entidadSeleccionada.estudiante" [ngbTypeahead]="searchst" [inputFormatter]="formatterst"
                  [resultFormatter]="formatterst" [selectOnExact]="true"
                  (blur)="entidadSeleccionada.estudiante = ValA(entidadSeleccionada.estudiante)"
                  [required]="entidadSeleccionada.idTipoUsuario == 3" />
              </div>
              <div class="col-md-4" *ngIf="entidadSeleccionada.idTipoUsuario == 4">
                <label for="idProfesor">Profesor :</label>
                <!--<select id="idProfesor" class="form-select" [(ngModel)]="entidadSeleccionada.idProfesor"
                  name="idProfesor" [required]="entidadSeleccionada.idTipoUsuario == 4">
                  <option *ngFor="let entidad of profesores" [value]="entidad.id">
                    {{ entidad.nombres }}
                  </option>
                </select>-->
                <input name="profesor" id="profesor" type="text" class="form-control col"
                  [(ngModel)]="entidadSeleccionada.profesor" [ngbTypeahead]="search" [inputFormatter]="formatter"
                  [resultFormatter]="formatter" [selectOnExact]="true"
                  (blur)="entidadSeleccionada.profesor = ValA(entidadSeleccionada.profesor)"
                  [required]="entidadSeleccionada.idTipoUsuario == 4" />
                <!--<pre>Model: {{ entidadSeleccionada.profesor | json }}</pre>-->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="submit">{{ isEditing ? 'Actualizar' : 'Crear' }}</button>
            <button class="btn btn-phoenix-secondary" type="button" data-bs-dismiss="modal"
              (click)="limpiarSeleccion()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <h2></h2>

  <!-- Formulario de Entidad -->

  <!-- Lista de Entidades -->
  <div class="container mt-4">
    <h2>Lista de Usuarios</h2>
    <input type="text" class="form-control mb-3" placeholder="Buscar..." [(ngModel)]="filtro" />
    <div class="col-12">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        (click)="limpiarSeleccion()">Nuevo</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Usuario</th>
          <th>Tipo Usuario</th>
          <th>Estudiante</th>
          <th>Profesor</th>
          <th style="width: 125px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entidad of entidadesFiltradas() | paginate: { itemsPerPage: 5, currentPage: page }">
          <td>{{ entidad.username }}</td>
          <td>{{ entidad.tipoUsuario?.nombre }}</td>
          <td>
            <label *ngIf="entidad.estudiante!=null" class="badge text-bg-success">{{ entidad.estudiante?.nombres
              }}</label>
            <label *ngIf="!(entidad.estudiante!=null)" class="badge text-bg-warning">No Aplica</label>
          </td>
          <td>
            <label *ngIf="entidad.profesor!=null" class="badge text-bg-success">{{ entidad.profesor?.nombres }}</label>
            <label *ngIf="!(entidad.profesor!=null)" class="badge text-bg-warning">No Aplica</label>
          </td>
          <td>

            <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              (click)="seleccionarEntidad(entidad)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="eliminarEntidad(entidad.id)">
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Paginación -->
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>